<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rollonapp.rollon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rollon_icon"
        android:label="@string/app_name"
        android:logo="@drawable/rollon"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rollonapp.rollon.RssFeedReaderActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.rollonapp.rollon.FeedsActivity"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rollonapp.rollon.CustomRssActivity"
            android:label="@string/title_activity_custom_rss" >
        </activity>
    </application>

</manifest>